@page "/Dashboard"
@rendermode InteractiveServer


<div class="container text-center">
    <div class="row">
        <div class="col">
            @* Column *@
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Users</h5>
                            <h1>200</h1>
                        </div>
                    </div>
                </div>
            </div>
            @* Column *@
        </div>
        <div class="col">
            @* Column *@
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <i class="fa-solid fa-user-secret"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Manager</h5>
                            <h1>200</h1>
                        </div>
                    </div>
                </div>
            </div>
            @* Column *@
        </div>
        <div class="col">

           
            @* Column *@
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <i class="fa-regular fa-futbol"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Stadium</h5>
                            <h1>200</h1>
                        </div>
                    </div>
                </div>
            </div>
            @* Column *@
        </div>
    </div>
</div>