@page "/"
@using BlazorApp1.Domain
@using UltimateStadium.Services

<div class="container py-4">
    <div class="row g-4">
        @foreach (var stadium in stadiums) 
        {
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="/Image/staduim.jpg" class="card-img-top" alt="@stadium.stadiumName">
                    <div class="card-body">
                        <h5 class="card-title">@stadium.stadiumName</h5>
                        <p class="card-text text-muted">@stadium.stadiumPlace</p>
                        <p class="card-text fw-bold">@stadium.stadiumRentalPrice</p>
                    </div>
                    <div class="card-footer text-center bg-white">
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@code{
    [Inject] public IStadiumService StadiumService { get; set; }
    
    List<Stadium> stadiums=new List<Stadium>();
    protected override async Task OnInitializedAsync()
    {
        stadiums = await StadiumService.getAllStadiums();
    }

}

