@page "/"

<div class="container py-4">
    <div class="row g-4">
        @foreach (var item in Items) // Replace "Items" with your data source
        {
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="/Image/img1.jpg" class="card-img-top" alt="@item.stadiumName">
                    <div class="card-body">
                        <h5 class="card-title">@item.stadiumName</h5>
                        <p class="card-text text-muted">@item.stadiumPlace</p>
                        <p class="card-text fw-bold">@item.stadiumRentalPrice</p>
                    </div>
                    <div class="card-footer text-center bg-white">
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@code{
    @using UltimateStadium.Components.Models.Staduimmodels;
    List<StaduimModel> Items = new List<StaduimModel>();

    StaduimModel s = new StaduimModel()
        {
            stadiumId = Guid.NewGuid().ToString(),
            stadiumName = "Test1",
            stadiumPlace = "test1",
            stadiumRentalPrice = 000
        };

    StaduimModel s2 = new StaduimModel()
        {
            stadiumId = Guid.NewGuid().ToString(),
            stadiumName = "Test2",
            stadiumPlace = "test2",
            stadiumRentalPrice = 1000
        };

    StaduimModel s3 = new StaduimModel()
        {
            stadiumId = Guid.NewGuid().ToString(),
            stadiumName = "Test3",
            stadiumPlace = "test3",
            stadiumRentalPrice = 2000
        };

    StaduimModel s4 = new StaduimModel()
        {
            stadiumId = Guid.NewGuid().ToString(),
            stadiumName = "Test4",
            stadiumPlace = "test4",
            stadiumRentalPrice = 3000
        };

    public Home()
    {
        Items.Add(s);
        Items.Add(s2);
        Items.Add(s3);
        Items.Add(s4);
    }
}

